{% extends 'base.html' %} 

{% block content %} 
<br><br>
<div class="container">
    <div class="is-flex is-justify-content-center">
        <br><br>
        <h1 class="title">Hello world</h1>
    </div>
    <div class="columns">
        <div class="column">
            <div class="tile is-parent">
                <article class="tile is-child is-rounded box">
                    <h1 class="title">Hello world!</h1>
                    <p class="content">Hello</p>
                </article>
            </div>
        </div>
        <div class="column is-4">
            <div class="tile is-parent">
                <article class="tile is-child is-rounded box">
                    <h1 class="title">This should resize</h1>
                    <p class="content">Yes it should</p>
                </article>
            </div>
        </div>
        <div class="column is-5">
            <div class="tile is-parent">
                <article class="tile is-child is-rounded box">
                    <h1 class="title">Last one</h1>
                    <p class="content">O yeah</p>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}