{% extends 'base.html' %} 
{% load static %}
{% block content %} 
<br><br>
<div class="container">
    <script src="{% static 'main.js' %}"></script>
    <div class="columns">
        <div class="column is-3">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <h1 class="title">Previous Round Scores</h1>
                    <p id='round1points'>Round 1: </p>
                    <p id='round2points'>Round 2:</p>
                    <p id='round3points'>Round 3:</p>
                    <p id='round4points'>Round 4:</p>
                    <p id='round5points'>Round 5:</p>
                </article>
            </div>
        </div>
        
        <div class="column">
            <div class="is-flex is-justify-content-center">
                <div class="box">
                    <div class="is-flex is-justify-content-center is-flex-direction-column is-align-items-center">
                        <h1 class="title">Scoreboard</h1>
                        <p class="subtitle my-0" id='last-roll'>Last roll:</p>
                        <p class="subtitle my-0" id='current-total'>Current Total:</p>
                    </div>
                    <hr>
                    <ul id='scoreboard' class='is-flex-direction-column is-flex is-justify-content-center is-align-items-center'>
                        <li class="is-black">Previous scores</li>
                    </ul>
                    <hr>
                    <div class="columns">
                        <div class="column">
                            <button class="button is-primary" onclick='roll()'>Roll again</button>
                        </div>
                        <div class="column">
                            <button class="button is-warning" onclick="next_round()">End turn</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <h1 class="title">Round</h1>
                    <ul>
                        <p class="has-text-primary-dark" id='round1indicator'>Round 1</p>
                        <p class="has-text-grey-light" id='round2indicator'>Round 2</p>
                        <p class="has-text-grey-light" id='round3indicator'>Round 3</p>
                        <p class="has-text-grey-light" id='round4indicator'>Round 4</p>
                        <p class="has-text-grey-light" id='round5indicator'>Round 5</p>
                        
                    </ul>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}